body {
  margin      : 0;
  padding     : 10px;
  font-family : "Lato",
                "Helvetica",
                "sans-serif";
  font-size   : 3em;
}

h1 {
  color : white;
}

.field {
  margin : 20px 0 0 0;
}

.field__textinput {
  min-width  : 500px;
  padding    : 15px 0;
  text-align : center;
  font-size  : 1em;
}

/* Section styles */

.card {
  display : none;
}

.card__prompt {
  text-align     : center;
  text-transform : uppercase;
  font-size      : 1.1em;
  font-weight    : bold;
}

.card__button {
  margin     : 30px 0 0 0;
  text-align : center;
  font-size  : 1.1em;
}

/* Button styles */

.btn {
  display          : inline-block;
  min-width        : 260px;
  margin           : 10px;
  padding          : 10px 5px;
  color            : #888;
  border-radius    : 5px;
  background-color : white;
  text-decoration  : none;
  text-transform   : uppercase;
  font-size        : 18px;
  font-weight      : 600;
}

.btn--orange {
  color            : white;
  border-color     : #FF4136;
  background-color : #FF4136;
}

.btn--blue {
  color            : white;
  border-color     : #0074D9;
  background-color : #0074D9;
}

.btn--yellow {
  color            : white;
  border-color     : #E4BD00;
  background-color : #F3C500;
}

.btn--big {
  padding     : 10px;
  font-size   : 28px;
  font-weight : 400;
}

.btn--small {
  min-width : 50px;
}

.btn__prompt {
  left             : 37px;
  float            : left;
  margin-right     : -10px;
  padding-right    : 12px;
  padding-left     : 12px;
  color            : #fff;
  opacity          : .4;
  border-radius    : 5px 0 0 5px;
  background-color : #333;
  background-color : white;
  font-weight      : 600;
}

.btn__text {
  padding       : 0 50px 0 20px;
  border-radius : 0 5px 5px 0;
}

/* Battleground */

#player {
  width : 50%;
  float : left;
}

#enemy-stats,
#player-stats {
  color : white;
}

#player-image {
  filter            : FlipH;
  -moz-transform    : scaleX(-1);
  -o-transform      : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform         : scaleX(-1);
}

#enemy-image img,
#player-image img {
  width : 100%;
}

#reset-battleground-btn {
  display : none;
}

#enemy {
  width : 50%;
  float : right;
}

#enemy-mana {
  margin-left : 140px;
}

#enemy-health {
  margin-left : 80px;
}

.health {
  z-index          : 40;
  position         : relative;
  width            : 150px;
  height           : 150px;
  margin           : 0 auto;
  overflow         : hidden;
  border           : 1px solid #000000;
  border-radius    : 50%;
  background-color : black;
  text-align       : center;
  font-size        : 4em;
  cursor           : pointer;
}

.health:before {
  z-index       : 2;
  content       : '';
  position      : absolute;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
  border        : 2px solid #000000;
  border-radius : 50%;
}

.health-fill {
  z-index    : -1;
  content    : '';
  position   : absolute;
  right      : 0;
  bottom     : 0;
  left       : 0;
  height     : 100%;
  background : red;
}

.mana {
  z-index          : 20;
  position         : relative;
  width            : 85px;
  height           : 85px;
  margin           : 0 auto;
  overflow         : hidden;
  border           : 1px solid #000000;
  border-radius    : 50%;
  background-color : black;
  text-align       : center;
  font-size        : 4em;
  cursor           : pointer;
}

.mana:before {
  z-index       : 2;
  content       : '';
  position      : absolute;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
  border        : 2px solid #000000;
  border-radius : 50%;
}

.mana-fill {
  z-index    : -1;
  content    : '';
  position   : absolute;
  right      : 0;
  bottom     : 0;
  left       : 0;
  height     : 100%;
  background : blue;
}

.mana-title{
  line-height: 85px;
  font-size: .125em;
  color: white;
}

.health-title{
  line-height: 150px;
  font-size: .125em;
  color: white;
}

#battle-text {
  color      : yellow;
  text-align : center;
}

#winning-moment {
  display: none;
  color      : yellow;
  text-align : center;
  font-size  : 3em;
}

/**
 * #player-setup{ background-image:
 * url("http://media.blizzard.com/wow/media/wallpapers/other/dark-portal/dark-portal-1600x1200.jpg");
 * }
 */

#class-select {
  /**
   * background-image:
   * url("http://vignette2.wikia.nocookie.net/wowwiki/images/4/4b/The_Trade_District.jpg/revision/latest?cb=20060501090442");
   */
  background-repeat : no-repeat;
  background-size   : cover;
}

body {
  background-image  : url("http://media.blizzard.com/wow/media/wallpapers/other/dark-portal/dark-portal-1600x1200.jpg");
  background-repeat : no-repeat;
  background-size   : cover;
}
